.Header {
  width: 100%;
  max-width: 115rem;
  height: 45rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  position: relative;
  @media screen and (max-width: 1350px) {
    flex-direction: column-reverse;
    gap: 0;
    height: auto;
    max-width: 80rem;
  }
  &__About {
    font-size: 4.6rem;
    max-width: 67rem;
    @media screen and (max-width: 750px) {
      text-align: center;
    }
    @media screen and (max-width: 550px) {
      max-width: 35rem;
    }
    span {
      font-family: var(--SecondaryFont);
      color: var(--RedFont);
      font-size: 6.4rem;
    }
  }
  &__AvatarContainer {
    position: relative;
    width: 40rem;
    height: 43rem;
  }
  &__Avatar {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100%;
  }
  &__CatAvatarWrapper {
    position: absolute;
    z-index: 9;
    top: -5rem;
    left: -12rem;
    width: 30rem;
  }
  &__CatAvatar {
    width: 100%;
  }
}
