.Projects {
  margin: 0 auto;
  width: 100%;
  max-width: 115rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 1350px) {
    max-width: 80rem;
  }
  &__Header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 2rem;
  }
  &__HeaderCatContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 40rem;
    img {
      height: 100%;
    }
  }
  &__HeaderText {
    font-weight: 700;
    font-size: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  &__PawWrapper {
    width: 10rem;
    img {
      width: 100%;
    }
  }
  &__Content {
    width: 100%;
    padding: 10rem 0;
    display: flex;
    flex-direction: column;
    gap: 20rem;
  }
  &__Footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    @media screen and (max-width: 1350px) {
      font-size: 2.2rem;
    }
  }
  &__FooterImgWrapper {
    width: 7rem;
    img {
      width: 100%;
      transition: 0.3s ease-in-out;
      &:hover {
        opacity: 0.6;
      }
    }
  }
}
